<br />
<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-5">
                <div class="p-profile"></div>
            </div>

            <div class="col-sm-7 p-rgt-sec">
                <div>
                    <span class="p-tag">Contact Me</span>
                    <!-- <h1 class="mt-4"> Salmen HAJJI</h1>--->

                    <br>
                    <div class="container">
                        <div class="col-lg-5 col-md-10">
                            <div class="card-body">
                                <div class="h4 mt-0 title">Basic Information</div>

                                <div class="row mt-3">
                                    <div class="col-sm-4">
                                        <strong class="material-icons">email</strong>
                                    </div>
                                    <div class="col-sm-8">salmen.hj@gmail.com</div>
                                </div>

                                <div class="row mt-3">
                                    <div class="col-sm-4">
                                        <strong class="material-icons">address</strong>
                                    </div>
                                    <div class="col-sm-8">Sfax, Tunisia</div>
                                </div>

                                <div class="row mt-3">
                                    <div class="col-sm-4">
                                        <strong class="material-icons">Linkedin</strong>
                                    </div>
                                    <div class="col-sm-8">linkedin.com/in/salmen-hajji-4596901a1</div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-sm-4">
                                        <strong class="material-icons">phone</strong>
                                    </div>
                                    <div class="col-sm-8">+216 98 192 778</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>