<br>
<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-5">
                <div class="p-profile"></div>
            </div>

            <div class="col-sm-7 p-rgt-sec">
                <div>

                    <span class="p-tag"> IT Engineer</span>
                    <h1 class="mt-4"> Salmen HAJJI</h1>

                    <p class="p-des mt-3 mb-4"> Hello, I'm Salmen,I am an IT engineer with a great aptitude for learning and programming. </p>
                    <a href="#" class="p-readmore"> Read More <img src="/assets/img/play.png" alt="The icon for rezdmore arrow "
              width="15" class="ml-2"> </a>

                    <div>

                        <h6>
                            Subscribe
                        </h6>
                        <form class="form-inline" autocomplete="off">
                            <div class="form-group">

                                <input type="email" class="form-control " id="email" placeholder="Enter your email here" autocomplete="off">
                                <button class="btn btn-warning"> Subscribe</button>
                            </div>


                        </form>


                    </div>

                </div>
            </div>
        </div>

    </div>



</section>