.p-tag {
    background: #acacac;
    color: #fff;
    padding: 5px 10px;
    font-size: 14px;
}

.p-des {
    color: #989898;
    width: 80%;
}

.p-rgt-sec {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}