<br />
<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-5">
                <div class="p-profile"></div>
            </div>

            <div class="col-sm-7 p-rgt-sec">
                <div>
                    <span class="p-tag">About Me</span>
                    <!-- <h1 class="mt-4"> Salmen HAJJI</h1>--->

                    <p class="p-des mt-3 mb-4">
                        I am Salmen, 25 years old, from Tunisia. I love traveling, my dream is to go around the world in a caravan. <br> Since 2021, I have had the pleasure of starting my professional career as a IT engineer, after a long period of university
                        training that lasted six years where I did several internships and made many small projects.

                    </p>
                    <div class="container">
                        <div class="col-lg-6 col-md-12">
                            <div class="card-body">
                                <div class="h4 mt-0 title">Basic Information</div>

                                <div class="row mt-3">
                                    <div class="col-sm-4">
                                        <strong class="text-uppercase">Email:</strong>
                                    </div>
                                    <div class="col-sm-8">salmen.hj@gmail.com</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>